.classpath
.project
.settings/
**/.classpath
**/.project
**/.settings/
**/.DS_Store
target/
jackrabbit/
stella-webapp/src/main/webapp/WEB-INF/Common/Configuration/
sdt/etl/dist/
*~
*.iml
stella-functional-tests/svn_migration/stella-functional-teststarget/
stella-functional-tests/svn_migration/stella-functional-teststarget/*
.idea/
.metadata/
stella-search/solr/
*.class
**/bin/*
*/bin/*
*.log
solr/
.metadata/
